@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Regular.woff2') format('woff2'),
        url('GTAmerica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('GTAmerica-Bold.woff2') format('woff2'),
        url('GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('GTAmerica-ExtendedThin.woff2') format('woff2'),
        url('GTAmerica-ExtendedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('GTAmerica-ExtendedRegular.woff2') format('woff2'),
        url('GTAmerica-ExtendedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Extended';
    src: url('GTAmerica-ExtendedBold.woff2') format('woff2'),
        url('GTAmerica-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Compressed';
    src: url('GTAmerica-CompressedRegular.woff2') format('woff2'),
        url('GTAmerica-CompressedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Compressed';
    src: url('GTAmerica-CompressedThin.woff2') format('woff2'),
        url('GTAmerica-CompressedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Condensed';
    src: url('GTAmerica-CondensedRegular.woff2') format('woff2'),
        url('GTAmerica-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Condensed';
    src: url('GTAmerica-CondensedBold.woff2') format('woff2'),
        url('GTAmerica-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Compressed';
    src: url('GTAmerica-CompressedBold.woff2') format('woff2'),
        url('GTAmerica-CompressedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

